@use "reset";

$font: var(--font);
$PaleBlue: var(--PaleBlue);
$BrightBlue: var(--BrightBlue);
$VeryPaleBlue: var(--VeryPaleBlue);
$DesaturatedBlue: var(--DesaturatedBlue);
$DarkBlue: var(--DarkBlue);

:root {
  --font: "Red Hat Display", sans-serif;
  --PaleBlue: hsl(225, 100%, 94%);
  --BrightBlue: hsl(245, 75%, 52%);
  --VeryPaleBlue: hsl(225, 100%, 98%);
  --DesaturatedBlue: hsl(224, 23%, 55%);
  --DarkBlue: hsl(223, 47%, 23%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font;
  height: 100vh;
  background-color: $PaleBlue;
}

p {
  font-size: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 327px;
  height: 567px;
  border-radius: 20px;
  background-color: $VeryPaleBlue;
  overflow: hidden;
  @media (min-width: 500px) {
    width: 450px;
    height: 697px;
  }
}

img {
  max-width: 100%;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  //   align-items: center;
  justify-content: space-between;
  width: 247px;
  height: 203px;
  @media (min-width: 500px) {
    width: 305px;
    height: 216px;
  }
}

.cardText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  > h1 {
    color: $DarkBlue;
  }
  > p {
    text-align: center;
    color: $DesaturatedBlue;
  }
  @media (min-width: 500px) {
    height: 120px;
  }
}

.cardPlan {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.planInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  :first-child {
    color: $DarkBlue;
  }
  :last-child {
    color: $DesaturatedBlue;
  }
  @media (min-width: 500px) {
    margin-right: 60px;
  }
}

a {
  color: $BrightBlue;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

button {
  border: none;
  width: 279px;
  height: 50px;
  border-radius: 10px;
  background-color: $BrightBlue;
  color: $VeryPaleBlue;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  @media (min-width: 500px) {
    width: 350px;
  }
}

.cancel {
  color: $DesaturatedBlue;
  &:hover {
    color: $DarkBlue;
    cursor: pointer;
  }
}
